:root {
    --logic-light-color: hsl(226, 99%, 90%);
    --logic-dark-color: hsl(226, 99%, 10%);
    --mangalai-light-color: hsl(0, 50%, 96%);
    --mangalai-dark-color: hsl(0, 29%, 5%);
    --collatz-light-color: hsl(218, 49%, 85%);
    --collatz-dark-color: hsl(221, 90%, 27%);
    --epik-kapsul-light-color: hsl(66, 42%, 74%);
    --epik-kapsul-dark-color: hsl(144, 42%, 14%);
    --orbit-light-color: hsl(256, 51%, 93%);
    --orbit-dark-color: hsl(268, 90%, 8%);
}

.projects {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-family: "ChakraPetch", sans-serif;
}

.project-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.project-link-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50ch;
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    padding: 1rem;
    transition: box-shadow 0.5s;
}

.project-unavailable {
    opacity: 0.9;
}

.project-link-container.project-available:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
}

.project-headers {
    display: flex;
    align-items: center;
    color: white;
}

.project-title-and-info {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 2rem;
    transition: all 0.5s;
}

.project-info {
    font-size: 0.75rem;
    opacity: 0.9;
}

.project-link-container.project-available:hover .project-title {
    color: white !important;
}

.project-image {
    aspect-ratio: 1;
    border-radius: 0.3rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.project-link:hover {
    text-decoration: underline;
}

.project-description {
    color: white;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 480px;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 1s;
    flex-grow: 1;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}