.homepage-title {
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 251, 231);
    padding: 0rem 20vw;
    padding-bottom: 5rem;
    /* margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw; */
    text-shadow: 0rem 0rem 1rem black;
    overflow-x: hidden;
}

.homepage-magic-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.homepage-magic-button {
    width: 16rem;
    height: 9rem
}