.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.homepage-title {
    text-align: center;
    font-size: 2rem;
    color: var(--yellow-accent);
    margin: 0 2rem 2rem 2rem;
    text-shadow: 0rem 0rem 1rem black;
}

.homepage-magic-buttons-wrapper {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.homepage-magic-buttons-wrapper:hover, .homepage-magic-buttons-wrapper:focus-within {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
}

.homepage-magic-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.homepage-magic-button {
    width: 8rem;
    height: 5rem;
}

.homepage-magic-button:hover, .homepage-magic-button:focus {
    opacity: 1 !important;
}

/* my most beautiful line of css (I want to vomit) */
.homepage-magic-buttons:has(.homepage-magic-button:hover) .homepage-magic-button:not(:hover), .homepage-magic-buttons:focus-within a:not(:focus) .homepage-magic-button {
    opacity: 0.5;
    /* filter: blur(0.05rem); */
}

.designs-button {
    animation-delay: -2.5s;
}

.homepage-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.homepage-links:hover, .homepage-links:focus {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 1);
}

.homepage-links > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 3rem;
    min-height: 2.5rem;
    transition: all 0.5s;
}

.homepage-links > *:hover, .homepage-links > *:focus {
    background-color: white;
}

.homepage-links > * > img {
    width: 1rem;
}

.homepage-title > .magic-text {
    animation: fade 5s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}