.homepage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.homepage-title {
    text-align: center;
    font-size: 2rem;
    color: var(--yellow-accent);
    padding: 0rem 20vw;
    padding-bottom: 5rem;
    /* margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw; */
    text-shadow: 0rem 0rem 1rem black;
    overflow-x: hidden;
}

.homepage-magic-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.homepage-magic-button {
    width: 8rem;
    height: 5rem
}