.logic-container {
    width: 100%;
    height: 50dvh;
    /* padding: 1%; */
    /* margin: 1rem; */
    background-color: rgba(1, 33, 139, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}

.project-statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.075);
    padding: 0.1rem;
    border-radius: 1rem;
}

.statusbar-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.statusbar-image {
    width: 5rem;
    height: 5rem;
}

.statusbar-close {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 0.3rem;
    margin: 1rem;
    transition: all 0.5s;
}

.statusbar-close:hover {
    box-shadow: 0 0 1rem 0 black;
}

.statusbar-close img {
    width: 3rem;
    height: 3rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.logic-output {
    text-align: center;
}

.logic-input-buttons {
    display: flex;
    justify-content: stretch;
}
.logic-input-buttons > * {
    width: 100%;
}