:root {
    --logic-default-color: rgba(0, 12, 51, 1);
    --logic-error-color: rgba(23, 1, 32, 0.75);
    --logic-true-color: rgba(10, 61, 17, 0.9);
    --logic-false-color: rgba(61, 10, 35, 0.9);
    --logic-true-hover-color: hsla(128, 72%, 28%, 0.9);
    --logic-false-hover-color: hsla(331, 72%, 28%, 0.9);
}

.logic-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 480px;
    margin: 1rem;
    padding: 1rem;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    transition: all 1s;
    flex-grow: 1;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.logic-container.logic-default {
    background-color: var(--logic-default-color);
}

.logic-container.logic-error {
    background-color: var(--logic-error-color);
}

.logic-container.logic-true {
    background-color: var(--logic-true-color);
}

.logic-container.logic-false {
    background-color: var(--logic-false-color);
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 0.5rem;
}

.logic-output {
    text-align: start;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
    transition: all 0.5s;
}

.logic-show-output {
    height: 2rem;
}

.logic-hide-output {
    height: 0;
}

.logic-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logic-input-categories {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.logic-input-categories > * {
    display: flex;
    border-radius: 0.3rem;
    overflow: hidden;
    gap: 4px;
}

.logic-input-area {
    display: flex;
    min-height: 2rem;
    justify-content: stretch;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.logic-input {
    flex-grow: 1;
    padding: 0 4px 0 4px;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0;
}

.logic-input-buttons {
    display: flex;
    border-radius: 0.3rem;
    overflow: hidden;
    gap: 4px;
}

.logic-input-buttons > * {
    font-size: 1rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-radius: 0.3rem; */
    border-width: 0;
    cursor: pointer;
    transition: all 0.5s;
}

.logic-input-buttons > *:not(:disabled):hover {
    background-color: white;
}

.logic-input-buttons > *:disabled {
    opacity: 0.5;
    cursor: default;
}

.project-content > button {
    flex-grow: 1;
    font-size: 1rem;
    /* width: 100%; */
}

.logic-input-button {
    /* aspect-ratio: 1; */
    flex-grow: 1;
    font-size: 1rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-radius: 0.3rem; */
    border-width: 0;
    cursor: pointer;
    transition: all 0.5s;
}

.logic-input-button:hover {
    background-color: white;
}

.variables {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    padding: 0.5rem
}
 
/* .variables > h2 {
    color: black;
} */

.variable {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1.2rem;
    /* margin: 0 0.5rem; */
}

.variable > label {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 0.5s;
}

.variable.variable-true > label {
    background-color: var(--logic-true-color);
}

.variable.variable-false > label {
    background-color: var(--logic-false-color);
}

.variable.variable-true > label:hover {
    background-color: var(--logic-true-hover-color);
}

.variable.variable-false > label:hover {
    background-color: var(--logic-false-hover-color);
}

.variable > input {
    /* transform: scale(1.5); */
    width: 1.5rem;
    display: none;
}

.logic-truth-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.logic-truth-table > h2, .variables > h2 {
    margin-bottom: 0.5rem;
}

.logic-truth-table-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    padding: 2px;
    border-radius: 0.3rem;
    gap: 2px;
    overflow: hidden;
}

.logic-truth-table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}


.logic-truth-table-item {
    flex-grow: 1;
    width: 50%;
    text-align: center;
    align-content: center;
    min-height: 2rem;
}

.logic-truth-table-item-name {
    background-color: var(--logic-error-color);
}

.logic-truth-table-item-result-name {
    background-color: var(--logic-error-color);
}

.logic-truth-table-item-result {
    flex-grow: 2;
    width: 100%;
    margin-left: 2px;
}

.logic-truth-table-item-false {
    background-color: var(--logic-false-color);
}
.logic-truth-table-item-true {
    background-color: var(--logic-true-color);
}

.logic-truth-table-item-false.logic-truth-table-item-result {
    background-color: var(--logic-false-hover-color);
}
.logic-truth-table-item-true.logic-truth-table-item-result {
    background-color: var(--logic-true-hover-color);
}