.jumping-text-letter {
    /* 1. REMOVE position: relative */
    
    animation: text-motion 1s ease-in-out infinite;
}

@keyframes text-motion {
    0% {
        vertical-align: 0.3ch;
    }
    50% {
        vertical-align: 0.0ch;
    }
    100% {
        vertical-align: 0.3ch;
    }
}