.statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 0.3rem;
}

.statusbar-title {
    font-size: 1.5rem;
}

.statusbar-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.statusbar-image {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}

.statusbar-links {
    display: flex;
    gap: 4px;
    border-radius: 0.3rem;
    overflow: hidden;
}

.statusbar-links > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.statusbar-links > *:hover {
    background-color: white;
}

.statusbar-links > * >img {
    width: 1rem;
    height: 1rem;
}

.statusbar-close {
    background-color: hsl(338, 57%, 88%);
}

.statusbar-source {
    background-color: hsl(200, 100%, 90%);
}