@font-face {
  src: url("../../assets/Fonts/Poppins-Regular.ttf");
  font-family: "Poppins";
}

:root {
  --yellow: #ffdd00;
  --yellow-accent: rgb(255, 251, 231);
  --purple: rgb(56, 6, 43);
  --yellow-gradient: linear-gradient(90deg, rgba(255, 221, 0, 1) 0%, rgb(255, 244, 172) 20%, rgba(203, 179, 28, 1) 50%, rgba(255, 244, 172) 80%, rgba(255, 221, 0, 1) 100%);
}

* {
  margin: 0px;
}

html {
  background: radial-gradient(circle at top,
  rgba(56,6,43,1) 11%, rgba(108,15,84,1) 31%, rgba(120,13,92,1) 48%, rgba(107,10,82,1) 71%, rgba(56,6,43,1) 90%
  );
  background-position: center center;
  width: 100%;
  height: max-content;
  min-height: 100%;
  animation: grow-and-shrink 10s ease-in-out infinite alternate;
  font-family: "Poppins";
  color: white;
}

.route-title {
  text-align: center;
  font-size: 4rem;
  color: var(--yellow-accent);
  padding: 0rem 20vw;
  text-shadow: 0rem 0rem 1rem black;
  overflow-x: hidden;
}

.route-description {
  text-align: center;
  padding: 0rem 20vw;
  margin-bottom: 2rem;
}


.background-content {
  position: absolute;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  z-index: -1;
}

.background-blob {
  position: absolute;
  width: 100%;
  bottom: 70dvh;
  opacity: 0.1;
  filter: blur(0.1rem);
  animation: rotate 20s linear infinite;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--purple);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--yellow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(52, 100%, 70%);
}

@keyframes rotate {
  from {
    transform: scale(2, 1) rotate(0deg);
  }

  to {
    transform: scale(2, 1) rotate(360deg);
  }
}

@keyframes grow-and-shrink {
  from {
    background-size: 100%;
  }
  to {
    background-size: 200%;
  }
}

@keyframes sparkling {
  from {
      scale: 1;
      opacity: 0.7;
  }

  50% {
      scale: 0.85;
      opacity: 1;
  }

  to {
      scale: 1;
      opacity: 0.7;
  }
}

@keyframes gradient-scroll {
  from {
      background-position: 0% center;
  }

  to {
      background-position: -200% center;
  }
}