@font-face {
  src: url("../../assets/Fonts/Poppins-Regular.ttf");
  font-family: "Poppins";
}

:root {
  --yellow: #ffdd00;
  --purple: rgb(56, 6, 43);
}

* {
  margin: 0px;
}

html {
  background: radial-gradient(circle at top,
  rgba(56,6,43,1) 11%, rgba(108,15,84,1) 31%, rgba(120,13,92,1) 48%, rgba(107,10,82,1) 71%, rgba(56,6,43,1) 90%
  );
  background-position: center center;
  width: 100vw;
  height: 100vh;
  animation: grow-and-shrink 10s ease-in-out infinite alternate;
  font-family: "Poppins";
  color: white;
}

.title {
  text-shadow: 0px 0px 2rem black;
  text-align: center;
}

.background-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-blob {
  position: absolute;
  width: 100vw;
  bottom: 70vh;
  opacity: 0.1;
  filter: blur(0.25rem);
  animation: rotate 20s linear infinite;
}

.background-sparkle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  fill: white;
}

.background-sparkle-1 {
  width: 5rem;
  height: 5rem;
  bottom: 2.5rem;
  left: 2.5rem;
}

.background-sparkle-2 {
  width: 2.5rem;
  height: 2.5rem;
  bottom: 2rem;
  left: 7.5rem;
}

.background-sparkle-3 {
  width: 2rem;
  height: 2rem;
  bottom: 6rem;
  left: 7.75rem;
}

@keyframes rotate {
  from {
    transform: scale(2, 1) rotate(0deg);
  }

  to {
    transform: scale(2, 1) rotate(360deg);
  }
}

@keyframes grow-and-shrink {
  from {
    background-size: 100%;
  }
  to {
    background-size: 200%;
  }
}