.navbar {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100vw;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(0.5rem); */
}

.navbar-logo-and-title {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.navbar-logo {
    aspect-ratio: 1;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.navbar-title {
    text-shadow: 0 0 1rem black;
}

.navbar-links {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.navbar-link {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    color: var(--purple);
    text-decoration: none;
    transition: all 0.5s;
}

.navbar-link:hover {
    background-color: var(--purple);
    color: var(--yellow);
}