@media screen and (max-width: 425px) {
    .navbar-title {
        display: none;
    }
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100vw;
    height: 4rem;
    width: 100%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(0.5rem); */
}

.navbar-logo-and-title {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.navbar-logo {
    aspect-ratio: 1;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.navbar-title {
    color: white;
    text-shadow: 0 0 1rem black;
    font-size: 1rem;
}

.navbar-item {
    text-decoration: none;
}

.navbar-links {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.navbar-link {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    color: var(--purple);
    text-decoration: none;
    /* backdrop-filter: blur(0.5rem); */
    box-shadow: 0 0 1rem 0 black;
    font-size: 0.75rem;
    transition: all 0.5s;
}

.navbar-link:hover {
    background-color: var(--purple);
    color: var(--yellow);
}