@media screen and (max-width: 375px) {
    .navbar-title {
        display: none;
    }
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100vw;
    height: 4rem;
    width: 100%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    z-index: 2;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(0.5rem); */
}

.navbar-logo-and-title {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.navbar-logo {
    aspect-ratio: 1;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 100%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.navbar-logo-and-title:hover > .navbar-logo, .active > .navbar-logo-and-title > .navbar-logo {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
}
.navbar-logo-and-title:hover > .navbar-title, .active > .navbar-logo-and-title > .navbar-title {
    color: white;
    text-shadow: 0 0 0.5rem black;
}

.navbar-title {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    transition: all 0.5s;
}

.navbar-item {
    text-decoration: none;
}

.navbar-links {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.navbar-link {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: var(--purple);
    text-decoration: none;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    transition: all 0.5s;
}

.navbar-link:hover, .navbar-link.active {
    background-color: white;
    box-shadow: 0 0 1rem 0 black;
}