.gallery {
    width: 100%;
    height: 100%;
}

.gallery-items {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    gap: 2rem;
}

.gallery-design {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 1%;
    overflow: hidden;
}

.design-details {
    position: absolute;
    bottom: -100%;
    width: 100%;
    opacity: 0;
    background-color: var(--purple);
    transition: all 0.5s;
}

.design-title, .design-description{
    margin: 1rem;
}

.design-image {
    width: 100%;
    transition: all 0.5s;
}

.design-buttons {
    position: absolute;
    top: -100%;
    right: 0.5rem;
    display: grid;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transition: all 0.5s;
}

.image-link {
    aspect-ratio: 1;
    left: 0;
    top: 0;
    margin: 1%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    box-shadow: none;
    transition: all 0.5s;
}

.image-link img {
    width: 100%;
    height: 100%;
}

.image-link:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1rem 0 black;
}

.gallery-design:hover > .design-buttons {
    top: 0.5rem;
    right: 0.5rem;
    opacity: 1;
}

.gallery-design:hover > .design-image {
    filter: blur(0.5rem);
}

.gallery-design:hover > .design-details {
    bottom: 0;
    opacity: 1;
}