:root {
    --gallery-item-size: clamp(2.5rem, 40vw, 12.5rem);
}

@media screen and (max-width: 425px) {
    :root {
        --gallery-item-size: 80vw;
    }

    .gallery-items {
        grid-template-columns: repeat(1, var(--gallery-item-size)) !important;
    }

    .design-title {
        font-size: 1.75rem !important;
        margin: 1rem !important;
        margin-bottom: 0.25rem !important;
    }
    .design-description {
        font-size: 1.25rem !important;
        margin: 1rem !important;
        margin-top: 0 !important;
    }
    .image-link {
        width: 3rem !important;
        height: 3rem !important;
    }
    
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-items {
    display: grid;
    grid-template-columns: repeat(2, var(--gallery-item-size));
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    gap: 1rem;
    padding: 1rem;
}

.gallery-design {
    position: relative;
    width: var(--gallery-item-size);
    height: var(--gallery-item-size);
    border-radius: 0.3rem;
    overflow: hidden;
}

.design-details {
    position: absolute;
    bottom: -100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--purple);
    transition: all 0.5s;
}

.design-title {
    font-size: 1rem;
    margin: 0.5rem;
    margin-bottom: 0.25rem;
}
.design-description {
    font-size: 0.75rem;
    margin: 0.5rem;
    margin-top: 0;
}

.design-image {
    width: 100%;
    transition: all 0.5s;
}

.design-buttons {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    top: -100%;
    right: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transition: all 0.5s;
}

.design-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.design-button img {
    width: 100%;
    height: 100%;
}

.gallery-design:focus .design-button, .design-button:hover, .design-button:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1rem 0 black;
}

.gallery-design:hover .design-buttons, .gallery-design:focus .design-buttons, .design-buttons:focus-within {
    top: 0.5rem;
    right: 0.5rem;
    opacity: 1;
}

.gallery-design:focus .design-details, .design-buttons:focus-within~.design-details, .gallery-design:hover .design-details {
    bottom: 0;
    opacity: 1;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 1rem 0 black;
}