.gallery-items {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 2rem;
}

.gallery-design {
    position: relative;
    width: 25rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
}

.design-details {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    width: 100%;
    background-color: var(--purple);
    transition: all 0.5s;
}

.zoomed-design-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

.zoomed-design {
    position: relative;
    display: grid;
    width: 40%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    outline: 0.5rem solid white;
    border-radius: 1%;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(0, 0, 0, 0.5);
}

.zoomed-image {
    aspect-ratio: 1;
    width: 100%;
    outline: 0.5rem solid white;
    border-radius: 1%;
}

.zoomed-details {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.zoomed-title {
    text-align: center;
    width: 100%;
}

.zoomed-description {
    width: 100%;
    text-align: center;
}

.close-button {
    position: absolute;
    width: 2vw;
    height: 2vw;
    right: 0;
    top: 0;
    background-color: white;
    border: none;
    border-radius: 0;
    padding: 1%;
    cursor: pointer;
    /* right: -100%;
    top: -100%; */
}
.close-button img {
    width: 100%;
    height: 100%;
}

.design-title, .design-description{
    margin: 1rem;
}

.design-image {
    width: 100%;
    transition: all 0.5s;
}

.gallery-design:hover .design-image {
    filter: blur(0.5rem);
}

.gallery-design:hover .design-details {
    bottom: 0;
    opacity: 1;
}