.magic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--purple);
    background-clip: text;
    background: var(--yellow-gradient);
    background-color: var(--purple);
    background-size: 200%;
    border-width: 0;
    cursor: pointer;
    transition: all 0.5s;
    animation: gradient-scroll 5s linear infinite;
}