.magic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Anta";
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--purple);
    background-clip: text;
    background: var(--yellow-gradient);
    background-color: var(--purple);
    background-size: 200%;
    border-width: 0;
    border-radius: 2.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    animation: gradient-scroll 5s linear infinite;
}

.magic-button-bg {
    position: absolute;
    display: flex;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    /* top: -0.1rem;
    left: -0.1rem;
    padding: 0.1rem; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    border-radius: inherit;
    background-color: var(--purple);
    transition: all 0.5s; 
}

.magic-button:hover {
    color: var(--yellow);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
}

.magic-button:hover .magic-button-bg {
    opacity: 1;
}